.table {
	font-family: verdana;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

.header {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

.column {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.sizeSmall {
	width: 70px;
}

.sizeLarge {
	width: 170px;
}

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}
